body{
    background: #8f8fd6;
}
.side-bar{
    position: relative;
    float: none;
    width: 100%;
}
.main{
    width: 100%;
    padding: 0px 10px;
}
.article-list{
    margin:0;
}

/*#menu-checkbox:checked~.nav,
#menu-checkbox:checked~.tag
{
    display: block;
}*/
#menu-toggle{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color:#444444;
}
.box{
    transition: all 600ms;
    visibility: visible;
}
.hidden{
    display: none;
}
.visuallyhidden{
    opacity: 0;
}
